body{
    margin: 0;
    padding: 0;
    background-color: rgb(127, 214, 255);
}
h1:hover{
    background-color: white;
}
.text-center{
    text-align: center;
}
.container{
    margin-left:365px;
    margin-right: 352px;
    border-radius: 10px;
    background-color: rgb(36, 36, 36);
    box-shadow: 3px 5px rgb(138, 137, 137);
}

#i{
    padding: 10px;
    margin: 0px 6px 5px;
    width: 32px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
    font-size: 17px;
}
#i:active{
    transform: scale(0.90);
    box-shadow: 3px 2px 22px 1px rgba(83, 81, 81, 0.24);
    background-color: rgb(161, 159, 159);
}
#btn:active{
    transform: scale(0.90);
    box-shadow: 3px 2px 22px 1px rgba(132, 132, 132, 0.24);
    background-color: rgb(161, 159, 159);
}
#result{
    width: 120px;
    height: 27px;
    margin-right: 14px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
}
#btn{
    width: 32px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
    font-size: 17px;
}